footer {
    background-color: #415256;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .copyright {
        color: #fff;

        &:before {
            content: "©";
            margin-right: 0.25em;
        }
    }

    @media screen and (min-width: 480px) {
        flex-direction: row;
    }
}