@import "../default/theme";

.grid {
    z-index: 2;
    display: grid;
    grid-gap: $spacing;        
    grid-template-columns: repeat(2, auto);
    width: 100%;    
    margin: $spacing auto;

    &-item {
        color: $white;        
        background-image: 
            linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)), 
            url('/images/buildings_landscape.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding: 10px;
        height: 500px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: end;
    }
}