.hero {
    height: calc(100vh - 171px);
    display: flex;
    flex-direction: row;

    &-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &-image {
        background-repeat: no-repeat;
        background-size: cover;
    }

    h2 {
        margin-bottom: 25px;
    }    
}

@media screen and (max-width: 820px) {
    .hero {
        height: calc(100vh - 153px);
    }        
}