.content {
    max-width: 1000px;
    margin: 0 auto;
}

.padding {
    padding: 25px;
}

.component {
    margin-top: 25px;
    margin-bottom: 25px;
}

.container-flex {
    display: flex;
    justify-content: space-between;
}

.button {
    color: white;
    background-color: #415256;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    transition: all .22s ease;
    
    &:hover {
        //color: #fff;
        background-color: #2d393b;
    }
}