<!DOCTYPE html>
<html>
    <head>
        <%- include('../components/head') %>
        <title>About | Atlas Sage</title>        
    </head>
    <body>
        <%- include('../components/navigation') %>
        <div class="about page">
            <div class="hero">
                <div class="hero-content padding">
                    <h1>About me</h1>
                    <h2>Coming soon</h2>
                </div>
            </div>
            <div class="content">

            </div>
        </div>
        <%- include('../components/footer') %>
    </body>
</html>