<!DOCTYPE html>
<html>
    <head>
        <%- include('../components/head') %>
        <title>Contact | Atlas Sage</title>        
    </head>
    <body>        
        <%- include('../components/navigation') %>
        <div class="contact page">
            <div class="hero">
                <div class="hero-content padding" data-aos="fade-up" data-aos-duration="2500">
                    <h1>Contact me</h1>
                    <h2>About your current needs</h2>
                    <a class="button" href="mailto:mweeks416@icloud.com?subject=Atlas%20Sage%20Website%20Inquiry">Send message</a>
                </div>
            </div>
        </div>
        <%- include('../components/footer') %>
    </body>
</html>