<!DOCTYPE html>
<html>
    <head>
        <title>Atlas Sage</title>
        <link rel="stylesheet" href="styles/app.css">
    </head>
    <body>
        <%- include('../components/navigation') %>
        <div class="hero hero-image" style="background-image: url('images/buildings_landscape.jpg');">
            <div class="hero-inner">
                <h1>Atlas Sage Interactive</h1>
                <h2>Discover your websites destination</h2>
            </div>
        </div>
        <%- include('../components/footer') %>
    </body>
</html>