<!DOCTYPE html>
<html>
    <head>
        <%- include('../components/head') %>
        <title>Atlas Sage</title>        
    </head>
    <body>
        <%- include('../components/navigation') %>
        <div class="home page">
            <div class="hero">
                <div class="hero-content padding">
                    <h1>Atlas Sage Designs</h1>
                    <h2>Discover your websites destination</h2>
                    <a class="button" href="/contact">Get Started</a>                
                </div>
            </div>
            <div class="content">
                <object data="images/map-arrow-up.svg" type="image/svg+xml"></object>
            </div>
        </div>
        <%- include('../components/footer') %>
    </body>
</html>