<!DOCTYPE html>
<html>
    <head>
        <%- include('../components/head') %>
        <title>Atlas Sage</title>        
    </head>
    <body>
        <%- include('../components/navigation') %>
        <div class="home page">
            <div class="hero">
                <div class="hero-content" data-aos="fade-up" data-aos-duration="2500">
                    <h1>I design and develop web experiences that make people's lives simple.</h1>                    
                    <a class="button" href="/work">See my work</a>
                </div>
            </div>
            <div class="content">
                <div class="component">
                    <div class="">
                        <h2>How it works</h2>
                    </div>                    
                    <ul>
                        <li>
                            <span>01</span>
                            <span>Contact me to set up a virtual meeting to review design options, templates, and website.</span>
                        </li>
                        <li>
                            <span>02</span>
                            <span>After completing a proof of concept we review the initial state and make any updates.</span>
                        </li>
                        <li>
                            <span>03</span>
                            <span>Finalize website, pick a custom domain, and launch date.</span>
                        </li>
                        <li>
                            <span>04</span>
                            <span>Post launch support during the first 30 days of site launch.</span>
                        </li>
                    </ul>
                    <a class="button" href="/contact">Get started</a>                    
                </div>
            </div>
        </div>
        <%- include('../components/footer') %>
    </body>
</html>