<!DOCTYPE html>
<html>
    <head>
        <title>Page Not Found | Atlas Sage</title>
        <link rel="stylesheet" href="styles/app.css">
    </head>
    <body>
        <%- include('../components/navigation') %>
        <div>
            <h1>Page Not Found</h1>            
        </div>
        <div>
            <p>Please update the URL or navigate back to our <a href="/pages/home.html">home page</a>.</p>
            <p>Add content and components here.</p>
        </div>
    </body>
</html>