<!DOCTYPE html>
<html>
    <head>
        <%- include('../components/head') %>
        <title>Pricing | Atlas Sage</title>        
    </head>
    <body>
        <%- include('../components/navigation') %>
        <div class="hero hero-image" style="background-image: url('images/buildings_landscape.jpg');">
            <div class="padding">
                <h1>Our Pricing</h1>
                <h2>Create a plan that works for you</h2>
            </div>
        </div>
        <div>
            <div>
                <h4>Up Front</h4>
                <ul>
                    <li>Design, Development, & Go Live</li>
                    <li>+$100 Per Page After 5</li>
                    <li>+$25 Per Month For Hosting</li>
                    <li>+$25 Per Month Unlimited Content Edits</li>
                </ul>
                <h4>$2500<span>+$25/month hosting</span></h4>
                <a href="/contact">Get Started</a>
            </div>
            <div>
                <h4>Monthly</h4>
                <ul>
                    <li>Design, Development, & Go Live</li>
                    <li>+$100 Per Page After 5</li>
                    <li>Hosting Included</li>                    
                    <li>Unlimited Content Edits</li>
                    <li>Ongoing Support Included</li>
                </ul>
                <h4>$150<span>per month</span></h4>
                <a href="/contact">Get Started</a>
            </div>
            <div>
                <h4>Not Sure?</h4>
                <div>
                    Contact us, to find out what plan best suits your needs.
                </div>                
                <a href="/contact">Get Started</a>
            </div>
        </div>
        <%- include('../components/footer') %>
    </body>
</html>