<!DOCTYPE html>
<html>
    <head>
        <title>Resume | Atlas Sage</title>
        <link rel="stylesheet" href="styles/app.css">
    </head>
    <body>
        <%- include('../components/navigation') %>
        <div class="wrapper">
            <div class="header">
                <h1>Matt Weeks</h1>
                <div class="contact">
                    <span>2832 Frabiele St. Henderson, NV 89044</span>
                    <span>312.522.3235 | mattweeks416@gmail.com</span>
                </div>
            </div>
            <div class="container">
                <h2>Summary</h2>
                <div>
                    <p>Senior web application developer with 10 years of professional experience focused on .NET and Sitecore Technologies. Seeking a senior role to continue my technical and professional growth. Experience includes collaboration with technology, design, strategy, and account teams for successful project delivery. As well as providing technical support for web applications during all project phases.</p>
                </div>
            </div>
            <div class="container">
                <h2>Experience</h2>
                <div>
                    <div class="container-flex">
                        <h4>Tech Lead / Senior Developer</h4>
                        <h4>October 2018 - Present</h4>
                    </div>
                    <div class="container-flex">
                        <h4>TEKSystems</h4>
                        <h4>Chicago, IL</h4>
                    </div>
                    <div class="container-list">
                        <ul>
                            <li>Involved in technical and functional documentation for Sitecore web application builds</li>
                            <li>Pilot presentation meetings with clients, to review build and technical specifications</li>
                            <li>New hire on-boarding: project set up, review tasks and code before deployments</li>
                            <li>On call support to resolve hosting and network issues</li>
                        </ul>
                    </div>
                </div>
                <div>
                    <div class="container-flex">
                        <h4>Developer</h4>
                        <h4>October 2014 - September 2018</h4>
                    </div>
                    <div class="container-flex">
                        <h4>One North Interactive, LLC</h4>
                        <h4>Chicago, IL</h4>
                    </div>
                    <div class="container-list">
                        <ul>
                            <li>Develop web applications based on technical designs from strategy team using ASP.NET MVC framework, Web API services, and JavaScript libraries such as Angular, React, and Vue</li>
                            <li>Design Sitecore data structures for web applications and migrate existing application data into Sitecore CMS</li>
                            <li>Implement web services using .NET technologies responsible for exporting and consuming data in XML or JSON formats</li>
                            <li>Design HTML and CSHTML files for web application builds based on PSD files from design team</li>
                            <li>Deliver daily project status updates with team members to ensure deliverables and budget are on track with schedule</li>
                            <li>Complete small feature enhancements and resolve client issues managed in Jira and Zoho</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <%- include('../components/footer') %>
    </body>
</html>