<!DOCTYPE html>
<html>
    <head>
        <%- include('../components/head') %>
        <title>Work | Atlas Sage</title>        
    </head>
    <body>
        <%- include('../components/navigation') %>
        <div class="hero">
            <div class="hero-content padding">
                <h1>Featured Work</h1>
                <h2>See what we've been up to</h2>
            </div>
        </div>        
        <%- include('../components/footer') %>
    </body>
</html>