<!DOCTYPE html>
<html>
    <head>
        <%- include('../components/head') %>
        <title>Work | Atlas Sage</title>        
    </head>
    <body>
        <%- include('../components/navigation') %>
        <div class="work page">
            <div class="hero">
                <div class="hero-content">
                    <h1>Featured Work</h1>
                    <h2>See what I've been up to</h2>
                </div>
            </div>
            <div class="content">
                <div class="grid">                    
                    <div class="grid-item" data-aos="fade-up" data-aos-duration="2500">
                        <h4>Ashly Faye Anthony Photography</h4>
                        <div>Professional Photography Website</div>
                    </div>                    
                </div>
            </div>
        </div>
        <%- include('../components/footer') %>
    </body>
</html>