<!DOCTYPE html>
<html>
    <head>
        <title>About | Atlas Sage</title>
        <link rel="stylesheet" href="styles/app.css">
    </head>
    <body>
        <%- include('../components/navigation') %>
        <div>
            <h1>About Us</h1>
        </div>
        <p>Add content and components here.</p>
    </body>
</html>