<!DOCTYPE html>
<html>
    <head>
        <title>Contact | Atlas Sage</title>
        <link rel="stylesheet" href="styles/app.css">
    </head>
    <body>        
        <%- include('../components/navigation') %>
        <div>
            <h1>Contact Atlas Sage</h1>
            <h2>Discover your websites destination.</h2>
        </div>
        <p>Add content and components here.</p>
    </body>
</html>