<nav role="navigation">
    <div class="navigation-logo">
        <a href="/" aria-label="home">atlas sage</a>
        <label class="toggle">
            <input id="dark-mode-toggle" type="checkbox">
            <span class="slider"></span>
        </label>
    </div>
    <div class="navigation-toggle">
        <input type="checkbox">
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
        <ul class="navigation">            
            <li><a href="/work" aria-label="work">Work</a></li>
            <li><a href="/capabilities" aria-label="capabilities">Capabilities</a></li>
            <li><a href="/about" aria-label="about">About</a></li>
            <li><a href="/contact" aria-label="contact">Contact</a></li>       
        </ul>
    </div>
</nav> 